body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 14pt
}

li {
    list-style: none;
    font-size: 10pt;
}

.summary {
    text-align: center;
}

.donations-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    page-break-inside: auto;
}

.donations-table th, .donations-table td {
    border: 1px solid black;
    padding: 8px;
}

thead {
    background-color: lavender;
    display: table-header-group;
    font-weight: bold;
}

hr {
    background-color: lavender;
    border: none;
    height: 2px;
}

span {
    font-weight: lighter;
}

@page {
    size: A4;
    margin: 20mm;
    @bottom-center {
        content: "Page " counter(page) " of " counter(pages);
        font-size: 14px;
        color: rgb(36, 36, 59);
    }
}